<div class="container">
   <div class="row d-flex justify-content-center align-items-center" style="height:90vh">
        <div class="col-4">
         <div class="card bg-dark text-white" style="border-radius: 1rem;">
         <div class="card-body p-5 text-center">
         <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
  <br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" %><br>
  </div>

  <div class="field">
  <br>
    <% if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "new-password" ,placeholder:"password :" %>
    <p>*note: <%= @minimum_password_length.to_s + " characters minimum" %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "password_confirmation" %><br>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up",class:"btn btn-outline-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
</div>