<%= form_with(model: topic) do |form| %>
  <% if topic.errors.any? %>
    <div style="color: red">
      <p><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</p>

      <ul>
        <% topic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row" style="margin:10px">
      <div class="col-md-4">
         <%= form.label :title, style: "display: block", class:"form-label" %>
         <%= form.text_field :title,class:"form-control" %>
      </div> 
    </div>  
    <div class="row" style="margin:10px">
      <div class="col-md-4">
        <%= form.submit "create"%>
      </div>  
    </div> 
    </div>
  
<% end %>
