<p style="color: green"><%= notice %></p>

<h1><u><i>Topics</i></u></h1>

<div id="topics">
  <% if @topics.count>0 %>
    <table>
      <tr>
        <th>Title</th>
        <th>ID</th>
        <th>View</th>
      </tr>
      <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.id %></td>
        <td><%= link_to "show", topic %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <div style="width: 15em"><%= paginate @topics %></div>
    <br>
   <% else %>
  NO topic
  <% end %>
</div>
<br>
<%= link_to "New topic", new_topic_path,class: "btn btn-outline-primary" %>
<br>