<center>

<p style="color: green"><%= notice %></p>


<div id="topics">
  <% if @topics.count>0 %> 
 <div class="table-responsive">
    <table class="table table-hover" style="width:50%">
      <tr>
        <th>Title</th>
        <th>Posts</th>
        <th>View</th>
        <th>Delete</th>
      </tr>
      <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.posts.count %></td>
        <td><%= link_to "show", topic ,class:"btn btn-sm",style:"background-color:#9ec5fe"%></td>
        <td><%= button_to "Delete", topic,method: :delete %></td>
      </tr>
      <% end %>
    </table>
   </div>
    <br>
    <div style="width: 15em"><%= paginate @topics %></div>
    <br>
   <% else %>
  NO topic
  <% end %>
</div>
<br>
<%= link_to "New topic", new_topic_path,class: "btn btn-outline-primary" %>
<br>

<%# <%= button_to "sign out", destroy_user_session_path,method: :delete%> 

</center>