<p style="color: green"><%= notice %></p>

<%= render @topic %>

<div>
  <%= link_to "Edit this topic", edit_topic_path(@topic) %> <br>
  <%= link_to "Back to topics", topics_path %><br>

  <!--
  <% #link_to "Posts under this topic", topic_post_path(@topic,@topic.posts.first)
  %><br>
  -->
  <%= link_to "Add post", new_topic_post_path(@topic) %><br>
  <%= link_to "Posts under this topic", topic_posts_path(topic_id:@topic) %><br>
  <% # button_to "Destroy this topic", @topic, method: :delete ,data: {confirm: "Are you sure?"},class: "btn btn-outline-primary"
  %>
  <%= link_to "Delete", topic_path(@topic),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
</div>
<%= @topic.to_json %>