<center>
<div id="indicator" ></div>
<%= form_with(model: [@topic,@post], local: false )  do |form| %>
  <%= form.label "Enter title" %>
  <%= form.text_field :title %>
 <br>
  <%= form.label "Enter description" %>
  <%= form.text_field :description %>
  <br>

    <div class="field">
      <%= form.file_field :image,direct_upload: true %>
    </div>

  <br>
  <% Tag.all.each do |tag| %>
    <%= form.check_box :tags, { multiple: true,}, tag.name, nil %>
    <%= form.label tag.name %>
  <% end %>  
  <br>
  <%= link_to "add a tag" ,new_tag_path %>
  <%= form.submit%>

<% end %>
</center>
<script>
window.onload = function() {
$("#form").on("ajax:beforeSend",function(event){
    console.log("request sending");
    $("#indicator").append('<h6>loading</h6>');
});
$("#form").on ("ajax:complete", function(e){
    console.log("completed");
       $("#indicator").empty();
});
}
</script>