<center>
<p class="alert"><%= notice %></p>
  <h3><u><i>Index page - posts </i></u></h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Topic ID</th>
      <th>Topic Name</th>
      <th>User Id</th>
      <th>View</th>
      <th>Avg Rating</th>
      <th>Comments count</th>
      <%# <th>Edit</th>
      <th>delete</th> %>
    </tr>
    <% @posts.each do |post| %>
      <tr>
       <% unless post.users.where(id: current_user.id).count>0 %>
        <td><b><%= post.title %></td><b>
       <% else %>
       <td><%= post.title %></td>
       <% end %> 
        <td><%= post.description %></td>
        <td><%= post.topic_id %></td>
        <td><%= post.topic.title %></td>
        <td><%= post.user.id%>
        <td><%= link_to "show  ",topic_post_path(post.topic_id ,post),format: :js,remote: true,:class => "edit" %></td>
        <td><center><%=post.ratings.average(:star)%></center></td>
        <td><%= post.comments.all.count %></td>
      <% if can? :edit,post%> <td><%= link_to "Edit",edit_topic_post_path(post.topic_id,post,format: :js) ,remote: true %></td><% end %>
      <% if can? :destroy,post%>  <td><%= button_to "delete",topic_post_path(post.topic_id,post),method: :delete %> </td><% end %>
      </tr>
    <% end %>
  </table>
  <br>
  <div style="width: 15em"><%= paginate @posts %></div>
  <br>
  <%= link_to "back", :back %>
  <%= link_to "Topic", topics_path %>

</center>

