<center>
  <h3><u><i>Index page - posts </i></u></h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Topic ID</th>
      <th>Topic Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>delete</th>
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.topic_id %></td>
        <td><%= post.topic.title %></td>
        <td><%= link_to "show",topic_post_path(post.topic_id ,post) %></td>
        <td><%= link_to "Edit",edit_topic_post_path(post.topic_id,post) %></td>
        <td><%= button_to "delete",topic_post_path(post.topic_id,post),method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <div style="width: 15em"><%= paginate @posts %></div>
  <br>
  <%= link_to "back", :back %>
  <%= link_to "Topic", topics_path %>
</center>