<center>
<p class="alert"><%= notice %></p>
<% if params[:topic_id].nil? %>
   <%= form_with model:[Post.new],method: :get do |form| %>
   <%= form.label "From"%>
   <%= form.date_field :from %>
   <%= form.label "To"%>
   <%= form.date_field  :to %>
   <%= form.submit "show" %>
   <% end %>
<% end %>
<br>
 <div class="table-responsive">
  <table class="table table-hover" style="width:70%">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Topic ID</th>
      <th>Topic Name</th>
      <th>User Id</th>
      <th>View</th>
      <th>Avg Rating</th>
      <th>Comments count</th>
      <th colspan="2">
    </tr>
    <% @posts.each do |post| %>
      <tr>
       <% unless post.users.where(id: current_user.id).count>0 %>
        <td><b><%= post.title %></td><b>
       <% else %>
       <td><%= post.title %></td>
       <% end %> 
        <td><%= post.description %></td>
        <td><%= post.topic_id %></td>
        <td><%= post.topic.title %></td>
        <td><%= post.user_id%>
        <td><%= link_to "show  ",topic_post_path(post.topic_id ,post)%></td>
        <td><center><%=post.rating_average%></center></td>
        <td><%= post.comments_count %></td>
      <% if can? :edit,post%> <td><%= link_to "Edit",edit_topic_post_path(post.topic_id,post) %></td><% end %>
      <% if can? :destroy,post%>  <td><%= button_to "delete",topic_post_path(post.topic_id,post),method: :delete %> </td><% end %>
      </tr>
    <% end %>
  </table>
  </div>
  <br>
  <div style="width: 15em"><%= paginate @posts %></div>
  <br>
  <%= link_to "back", :back %>
  <%= link_to "Topic", topics_path %>

</center>

