<center>
  <h3><u><i>Details of post <%= @post.id %></i></u></h3><br>
Title:<%= @post.title %><br>
Description:<%= @post.description %><br>
Topic ID:<%= @post.topic_id %><br>
Comments count:<%= @post.comments.count %><br><br>
<% if (@post.comments.count) >0 %>
    <h3><u><i>Listing comments</i></u></h3><br>
    <table>
      <tr>
        <th>comments</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
        <td><%= link_to "edit",edit_post_comment_path(comment.post_id,comment) %></td>
        <td><%= button_to "delete",post_comment_path(comment.post_id,comment),method: :delete,class: "btn btn-outline-primary" %></td>
      </tr>
      <% end %>
    </table>
<% else %>
      NO comments
<% end %>
<br>
<% if @post.tags.count > 0 %>
 <h4><strong>Tags</strong></h4>
  <% @post.tags.each do |tag| %>
    <%= tag.name%>
  <% end %>
<% end %>    
<br><br>
  <% if Rating.find_by(post_id: @post.id) %>
   <strong>Rating :<%= @post.rating.star%>  star</strong>
  <% end %>
  <h4>Rating for post</h4>
  <%= form_with model: @post,method: :patch do |f| %>
  <%= f.radio_button :star,1,:checked=> Rating.find_by(post_id: @post.id) && @post.rating.star==1 ,:onclick => "this.parentNode.submit();" %> 1
    <%= f.radio_button :star,2,:checked=> Rating.find_by(post_id: @post.id) && @post.rating.star==2 ,:onclick => "this.parentNode.submit();"%> 2
    <%= f.radio_button :star,3 ,:checked=> Rating.find_by(post_id: @post.id) && @post.rating.star==3,:onclick => "this.parentNode.submit();"%> 3
    <%= f.radio_button :star,4,:checked=> Rating.find_by(post_id: @post.id) && @post.rating.star==4,:onclick => "this.parentNode.submit();" %> 4
    <%= f.radio_button :star,5 ,:checked=> Rating.find_by(post_id: @post.id) && @post.rating.star==5 ,:onclick => "this.parentNode.submit();"%> 5 <br>
  <% end %>

<%= link_to "edit  " ,edit_topic_post_path(@topic,@post)%>  |
<%= link_to "Add comment  ",new_topic_post_comment_path(@topic,@post) %>  |
<%= link_to "Back" ,:back%>
<%= button_to "destroy ",topic_post_path(@topic,@post),method: :delete %>
</center>

