<center>
  <h3><u><i>Posts</i></u></h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Topic ID</th>
      <th>View</th>
      <th>Edit</th>
      <th>delete</th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= post.topic_id %></td>
      <td><%= link_to "show",post_path(post) %></td>
      <td><%= link_to "Edit",edit_post_path(post) %></td>
      <td><%= button_to "delete",post,method: :delete %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to "back", :back %>
  <%= link_to "Topic", topics_path %>
</center>