<center>
  <h3><u><i>Details of post <%= @post.id %></i></u></h3><br>
Title:<%= @post.title %><br>
Description:<%= @post.description %><br>
Topic ID:<%= @post.topic_id %><br>

  <div>
     <% if @post.image.attached? %>
    <%= image_tag(@post.image,style:"width: 200px;") %>
      <% end %>
  </div>

Comments count:<%= @post.comments.count %><br><br>
<% if (@post.comments.count) >0 %>
    <h3><u><i>Listing comments</i></u></h3><br>
    <table>
      <tr>
        <th>comments</th>
      </tr>
      <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
      <% if can? :edit,comment%>  <td><%= link_to "edit",edit_post_comment_path(comment.post_id,comment) %></td>
        <td><%= button_to "delete",post_comment_path(comment.post_id,comment),method: :delete,class: "btn btn-outline-primary" %></td> <% end %>
      </tr>
      <% end %>
    </table>
<% else %>
      NO comments
<% end %>
<br>
<% if @post.tags.count > 0 %>
 <h4><strong>Tags</strong></h4>
  <% @post.tags.each do |tag| %>
    <%= tag.name%>
  <% end %>
<% end %>    
<br><br>
  <% if Rating.find_by(post_id: @post.id) %>
   <strong>Rating :</strong>
   <% arr = Rating.where(post_id:@post.id).group(:star).count%>
  <% for a in 1..5 do %>
  <% if arr[a].nil?%>
  <% arr[a]=0%>
  <% end %>
  <% end %>
  <table><tr><th>5 star</th><th>4 star</th><th>3 star</th><th>2 star</th><th>1 star</th></tr><tr>
  <td>  <%= arr[5]%></td>
  <td><%= arr[4]%></td>
  <td><%= arr[3]%></td>
   <td><%= arr[2]%></td>
   <td><%= arr[1]%></td></tr></table>
  <% end %>
  <br>
  <h4>Rating for post</h4>
  
  <%= form_with model:[@post,Rating.new],method: :post do |f| %>
  <%= f.radio_button :star,1 %> 1
    <%= f.radio_button :star,2%> 2
    <%= f.radio_button :star,3 %> 3
    <%= f.radio_button :star,4 %> 4
    <%= f.radio_button :star,5 %> 5 <br>
    <%= f.submit %>
  <% end %>

<% if can? :update, @post %><%= link_to "edit  " ,edit_topic_post_path(@post.topic_id,@post)%>  | <% end %>
<%= link_to "Add comment  ",new_topic_post_comment_path(@post.topic_id,@post) %>  |
<%= link_to "Back" ,:back%>
<%  if can? :destroy, @post%><%= button_to "destroy ",topic_post_path(@post.topic_id,@post),method: :delete %> <% end %>
</center>

